<app-nav-stripes
    [open]="open"
    (openEvent)="openClose($event)"
></app-nav-stripes>
<nav class="menu">
        <div 
            class="coverSides"
            [class]="openClass"
            *ngIf="timeoutOpen"
            >
            <div class="portraite"></div>
        </div>
        <div 
            class="coverSides"
            [class]="openClass"
            *ngIf="timeoutOpen">
            <ul>

                <li 
                    class="nav-item "
                    [class]="openClass"
                    [ngClass]="{'current': activeRoute == '/home', 'current': activeRoute == '/' }"
                    (click)="closeNavigation()" >
                    <a 
                        class="nav-link"
                        routerLink="/home"
                        >
                    Hem  
                    </a>
                </li>
                <li 
                    class="nav-item"
                    [class]="openClass"
                    [ngClass]="{'current': activeRoute =='/about'}"
                    (click)="closeNavigation()">
                    <a 
                        class="nav-link"
                        routerLink="/about"
                        > 
                        Om mig
                    </a>
                </li>
                <li 
                    class="nav-item"
                    [class]="openClass"
                    [ngClass]="{'current': activeRoute =='/projects'}"
                    (click)="closeNavigation()">
                    <a 
                        class="nav-link"
                        routerLink="/projects"
                        >  
                        Projekt
                    </a>
                </li>
                <li 
                    class="nav-item"
                    [class]="openClass"
                    [ngClass]="{'current': activeRoute =='/offer'}"
                    (click)="closeNavigation()">
                    <a 
                        class="nav-link"
                        routerLink="/offer"
                        > 
                        Erbjudande
                    </a>
                </li>
                <li class="nav-item"
                    [class]="openClass"
                    [ngClass]="{'current': activeRoute =='/contact'}"
                    (click)="closeNavigation()">
                    <a 
                        class="nav-link"
                        routerLink="/contact"
                        >  
                        Kontakt
                    </a>
                </li>
            </ul>
        </div>
    </nav>
