@import "../../../scss/config";
@import "../../../scss/color";

.coverSidesBox
{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    border: solid black 2px;
    //width: 50%;
    .coverSides
    {
        display: flex;
        width: 50%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        
    }
}

.nav-item{
    transform: translate3d(00px,0,0);//600
    @include easeOut;

    &.show{
      //Slide in from rigth!
      transform: translate3d(0,0,0);
    }
    &.current>a{
      color: $secondary-color;
    }
  }

  .nav-link{
    display: inline-block;
    position:relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight:300;
    color:set-text-color($primary-color);
    text-decoration:none;
    @include easeOut;

    &:hover{
      color:$secondary-color;
    }
  }

// Delay each nav item by 0.1s:

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
      transition-delay: $x * 0.1s;
    }
  }