@import "../../../scss/config";
@import "../../../scss/color";

.coverSidesBox
{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    
    
    .coverSides
    {
        display: flex;
        width: 50%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        @include easeOut;

        &:nth-child(1)
        {
            background-color: lighten( $primary-color , 5);
        }

        &:nth-child(2)
        {
            background-color: darken( $primary-color , 5);
        }

        &.show
        {
            transform: translate3d(0px,0px,0);
           
        }

        &.close
        {
            &:nth-child(1)
            {
                transform: translate3d(0px, 150vh,0);
            }
            &:nth-child(2)
            {
                transform: translate3d(0px, -150vh,0);
            }
           
        }
        
    }
}

.nav-item{
    transform: translate3d(600px,0,0);
    @include easeOut;

    &.show{
      //Slide in from rigth!
      transform: translate3d(0,0,0);
    }
    &.current>a{
      color: $secondary-color;
    }
  }

  .nav-link{
    display: inline-block;
    position:relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight:300;
    color:set-text-color($primary-color);
    text-decoration:none;
    @include easeOut;

    &:hover{
      color:$secondary-color;
    }
  }

// Delay each nav item by 0.1s:

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
      transition-delay: $x * 0.1s;
    }
  }