<app-nav-stripes
    [open]="open"
    (openEvent)="openClose($event)"
></app-nav-stripes>
<nav class="menu">
        <div 
            class="coverSides"
            [class]="openClass"
            *ngIf="timeoutOpen"
            >
            <div class="portraite"></div>
        </div>
        <div 
            class="coverSides"
            [class]="openClass"
            *ngIf="timeoutOpen">
            <ul>
                <li 
                    class="nav-item current"
                    [class]="openClass" >
                    <a 
                        class="nav-link"
                        routerLink="/home">
                    Hem  
                    </a>
                </li>
                <li 
                    class="nav-item"
                    [class]="openClass">
                    <a 
                        class="nav-link"
                        routerLink="/">  
                        Projekt
                    </a>
                </li>
                <li 
                    class="nav-item"
                    [class]="openClass">
                    <a 
                        class="nav-link"
                        routerLink="/"> 
                        Om mig
                    </a>
                </li>
                <li class="nav-item"
                    [class]="openClass">
                    <a 
                        class="nav-link"
                        routerLink="/">  
                        Kontakt
                    </a>
                </li>
            </ul>
        </div>
    </nav>
