@import "../../../scss/color";
@import "../../../scss/config";

#contact
{
    color:white;
    margin-left: 2rem;
}

.contact
{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.lg-heading
{
    color:white;
}

.text-secondary
{
    color: $secondary-color;
}

#fs-frm-inputs
{

    width: 65%;

    margin-top: 1rem;
    border: $secondary-color 5px solid;
    border-radius: 10px;
    background: lighten( $primary-color , 5);
    padding: 1rem 2rem 2rem 2rem;
}

.md-heading
{
    font-size: 3rem;
}

.input-box
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
    input[type=text], input[type=email], select, textarea {
        
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
      }


@media screen and (max-width: 992px)
{

    #contact
    {
        margin: 0.3rem;
    }

    .md-heading
    {
        line-height: 1;
    }

    .lg-heading
  {
      //text-align: center;
      line-height: 0.8;
      font-size: 4rem;
      margin-bottom: 1rem;    
  }

  #fs-frm-inputs
  {
    width: fit-content;
  }  
}

@media screen and (max-width: 500px)
{
    #fs-frm-inputs
    {
        padding: 1rem 1rem 1rem 1rem;
    }


 
}