
<main id="about-pdf" >
    <section class="header">
        
        <div class="header-container">
            
            <div class="portraite-box">    
                <div class="portraite">
                </div>
            </div>

            <div class="contact">
                <h3 >Caspar <span>Sylwan</span></h3>
                <h4>Webutvecklare, programmerare & fullstack</h4>
                <div class="flex space">
                    <h6><i class="fas fa-mobile-alt"></i> 073 92 88 437</h6>
                    <h6><i class="fas fa-at"></i> casparsylwan@gmail.com</h6>
                    <h6><a href="www.casparsylwan.se" target="_blank"><i class="fas fa-globe"></i> www.casparsylwan.se</a></h6>
                </div>
                <!-- <div class="flex col">
                    <h6><a href="https://github.com/sylwancaspar"><i class="fab fa-github fa-1x"></i> https://github.com/sylwancaspar</a></h6>   
                    <h6><a href="https://www.linkedin.com/in/caspar-sylwan-399aba133/"><i class="fab fa-linkedin fa-1x"></i><span> https://www.linkedin.com/in/caspar-sylwan-399aba133</span></a></h6>
                </div> -->
            </div>
        </div>
    </section>

    <!-- MERITS BEGINS HERE -->
    <section class="merits">
        <div class="programig-skills">
            <h2 class="head-w" >PROGRAMMRINGSPRÅK</h2>
            <div 
                *ngFor="let lang of programigSkills"
                class="lang">
                <h3>{{ lang.sprak }}</h3>
                <ul>
                    <li *ngFor="let librarie of lang.ramverk"
                        [ngClass]="librarie=='Bootstrap'? 'pagebreak': ''">
                        {{ librarie }}
                    </li>
                </ul>
            </div>       
        
            <!-- <div class="spoken">
              <h2 class="head-w andra">Andra kunskaper</h2>
                <h3>Språk</h3>
                <ul>
                  <li>Svenska - modersmål</li>
                  <li>Engelska - flytande</li>
                  <li>Franska - grundläggande</li>
                  <li>Arabiska - grundläggande</li>
                </ul>
                <h3>Körkort</h3>
                <ul>
                  <li>B, D</li>
                </ul>
            </div>  -->
        </div>
        
        <div class="work-edu">
            <div class="heading-box">
                <h2 class="head-w">ARBETSLIVSERFARENHET</h2>
            </div>    
            <div 
                *ngFor="let work of giveWork(); let index = i;"
                class="job">
                <div class="flex">
                    <h3 class="text-secondary">{{ work.heading }}</h3>
                    <h6 class="time">{{ work.from | date:'yyyy'}} - {{ !work.to? 'nuvarande': work.to | date:'yyyy'  }}</h6>
                </div>
                <p>
                    {{ work.description }}
                </p>
            </div>
            <h2 class="head-w">UTBILDNING</h2>
            <div 
                *ngFor="let edu of giveEducation(); let index = i;"
                class="edu">
                <div class="flex">
                    <h3 class="text-secondary">{{ edu.heading }}</h3>
                    <h6 class="time">{{ edu.place }},  {{ edu.from | date:'yyyy'}} - {{ !edu.to? 'nuvarande': edu.to | date:'yyyy'  }}</h6>
                </div>
                <p>
                    {{ edu.description }}
                </p>
            </div>
            <div class="spoken">
                <h2 class="head-w andra">Andra kunskaper</h2>
                <div class="flex">
                    <div class="box-1">
                    <h3>Språk</h3>
                    <ul>
                        <li>Svenska - modersmål</li>
                        <li>Engelska - flytande</li>
                        <li>Franska - grundläggande</li>
                        <li>Arabiska - grundläggande</li>
                    </ul>
                    </div> 
                    <div class="box-1"> 
                        <h3>Körkort</h3>
                        <ul>
                            <li>B, D</li>
                        </ul>
                    </div>
              </div> 
            </div>
        </div>


    </section>
</main>