@import "../../../scss/color";
@import "../../../scss/config";


.homeContainer
{
    position:relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: $primary-color;

    background-image: url("../../../assets/img/background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    &:after
    {
        content: '';
        position: absolute;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: rgba($primary-color, 0.7 );
    }

    .presentation
    {
        z-index: 1;
        width: 65%;
        background-color: darken(rgb($primary-color, 0.0) , 5);
        border-top-right-radius: 15rem;
        border-bottom-right-radius: 15rem;

        padding-left: 2rem;

        .lg-heading{
            color:white;
        }

        .text-secondary
        {
            color: $secondary-color;
        }
    }
}

h1,
h2,
h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size:6rem;
  }
  &.sm-heading{
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    color:#fff;
    font-size:1.5rem;
    //background:rgba( lighten($primary-color, 2),0.5);
  }
}

a{
	color:#fff;
	text-decoration: none;
  }

.icons{
    margin-bottom: 1rem;

    a{
      padding: 0.4rem;
      
      &:nth-child(n+2)
      {
        margin-left: 2rem;
      }

      &:hover{
        color: $secondary-color;
        @include easeOut();
        
      }
    }
  }

@media screen and (max-width: 992px)
{
  .homeContainer
  {
    justify-content: center;

    .presentation
    {
      padding-left: 0;
      width: 100%;
    }
  }

  
h1
{
  &.lg-heading
  {
      text-align: center;
      line-height: 1.2;
      font-size: 5rem;    
  }

}
  

  .sm-heading
  {
    text-align: center;
  }

  .icons
  {
    display: flex;
    justify-content: center;
    
  }
}