<div class="homeContainer">

    <div class="presentation">
        <h1 class="lg-heading">Caspar <span class="text-secondary">Sylwan</span> </h1>
        <h2 class="sm-heading">Web developer, programmer & fullstack</h2>
        <div class="icons">
            <a href="https://github.com/sylwancaspar">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/caspar-sylwan-399aba133/">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>

    </div>
</div>
