<main id="work">
    <h1 class="lg-heading">Mina <span class="text-secondary">projekt</span> </h1>
    <h2 class="md-heading">Några av mina projekt!</h2>



    <div class="projects">
        <div class="item">
          <a href="https://github.com/sylwancaspar/homepage" >
            <div 
                [ngStyle]="{'background-image': getUrl('src\assets\img\projects\webbPortfolio.png')}"
                class="photo">
            </div>
          </a>
          <a href="index.html" class="btn-ligth">
            <i class="fas fa-eye">Projects</i>
          </a>
          <a href="https://github.com/sylwancaspar/homepage" class="btn-dark">
            <i class="fab fa-github">Github</i>
          </a>
          <div class="btn-text">
            Webbportfolion är helt klientbaserad och byggd med Node.js,
             Sass, html och JavaScript. Projektet består av fyra sidor en Välkomstsida,
              CV, portfolio och en rest API för att skicka E-post.  
          </div>
        </div>
    </div>

    <div class="projects">
        <div class="item">
          <a href="https://casparsylwan.github.io/movienight/" >
            <div 
                class="photo"
                [ngStyle]="{'background-image': getUrl('src\assets\img\projects\movie.png')}"
                >
            </div>
          </a>
          <a href="https://casparsylwan.github.io/movienight/" class="btn-ligth">
            &nbsp; <i class="fas fa-eye">Projects</i>
          </a>
          <a href="https://github.com/casparsylwan/movienight" class="btn-dark">
            &nbsp; <i class="fab fa-github">Github</i>
          </a>
          <div class="btn-text">
            (Work in progress) En biografhemsida där det går att beställa godis,
            mat och dryck till 20 personer. Detta levereras sedan till sittplatsen. 
            Alla beställningar separeras så att det ska bli lätt att se vem som ska betala vad.
            Projektet är helt gjort med Angular. Alla animationer är gjorda med CSS och TypeScript.
            Sista sidan när det kommer till betalning är borttagen så att ingen ska bli lurad. 
          </div>
        </div>
    </div>

</main>
