<main id="work">
    <h1 class="lg-heading">Mina <span class="text-secondary">projekt</span> </h1>
    <h2 class="md-heading">Några av mina projekt!</h2>



    <div class="projects">
        <div class="item">
          <a href="https://github.com/sylwancaspar/homepage" >
            <div class="photo"></div>
          </a>
          <a href="index.html" class="btn-ligth">
            <i class="fas fa-eye">Projects</i>
          </a>
          <a href="https://github.com/sylwancaspar/homepage" class="btn-dark">
            <i class="fab fa-github">Github</i>
          </a>
          <div class="btn-text">
            Webbportfolion är helt klientbaserad och byggd med Node.js,
             Sass, html och JavaScript. Projektet består av fyra sidor en Välkomstsida,
              CV, portfolio och en rest API för att skicka E-post.  
          </div>
        </div>
    </div>

</main>
