@import "../../../scss/color";
@import "../../../scss/config";

#work
{
    color:white;
    margin-left: 2rem;
}

.text-secondary
{
    color: $secondary-color;
}

.md-heading
{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects
{   
    display: flex;
    flex-wrap: wrap;
}

app-project-item
{
    margin:0 0 1rem 1rem;
    &:nth-child(1)
    {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 992px)
{
    #work
    {
        margin: 1rem;
    }

    .md-heading
    {
        line-height: 1;
    }

    .lg-heading
    {
      
      line-height: 0.8;
      font-size: 4rem;
      margin-bottom: 1rem;    
    }

   
}

@media screen and (max-width: 500px)
{
    .projects
    {
        justify-content: center;
    }

    app-project-item
    {
        margin:0 0 1rem 0rem;
        &:nth-child(1)
        {
            margin-left: 0rem;
        }
    }
    
    .lg-heading
    {
        margin-top: 3rem;
        font-size: 3rem;
    }

    .md-heading
    {
        font-size: 1.5rem;
    }
}