@import "../../../scss/color";
@import "../../../scss/config";

#work
{
    color:white;
    margin-left: 2rem;
}

.text-secondary
{
    color: $secondary-color;
}

.md-heading
{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects
{
    //border: solid black 1px;
    display: flex;
}

//btn style

.item
{
    
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-bottom: 1rem;   
}

.photo {
    
    height: 220px;
    background-image: url("../../../assets/img/projects/webbPortfolio.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    border-radius: 5px;
    transition: border ease .5s;
    margin-bottom: 0.5rem;

    &:hover
    {
        border: 3px solid $secondary-color;
    }
  }

.btn{
    
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    transition: background-color .5s ease;

    &:hover{
      background-color: $secondary-color;
      color: set-text-color($secondary-color);
    }
  }

  .btn-dark{
  
    @extend .btn;
    background-color: darken($primary-color,50);
    border-radius: 5px;
    color:#fff;
  
    }
  
  .btn-ligth{
    @extend .btn;
    background-color: lighten($primary-color,50);
    color:#000;
  
  }
  
  .btn-text{

    background-color: ligthen($primary-color,100);
    color:#fff;
    border: 0;
    
  }



@media screen and (max-width: 992px)
{
    #work
    {
        margin: 1rem;
    }

    .md-heading
    {
        line-height: 1;
    }

    .lg-heading
    {
      
      line-height: 0.8;
      font-size: 4rem;
      margin-bottom: 1rem;    
    }

   
}

@media screen and (max-width: 500px)
{
    .projects
    {
        justify-content: center;
    }
    
    .lg-heading
    {
        margin-top: 3rem;
        font-size: 3rem;
    }

    .md-heading
    {
        font-size: 1.5rem;
    }
}