<main id="about">
    <a href="../../../assets/cv/caspar-sylwan-eng-cv.pdf" download>
        <button class="load show-only-on-small" (click)="htmlToPdf()" >{{ downloadCv }}</button>
    </a>
    <section class="header">
       <h1 *ngIf="lang == 'sv'" class="md-heading show-only-on-big">Om <span class="text-secondary">mig</span> </h1>
       <h1 *ngIf="lang == 'eng'" class="md-heading show-only-on-big">About <span class="text-secondary">me</span> </h1>
       <a href="../../../assets/cv/caspar-sylwan-eng-cv.pdf" download>
        <button class="load show-only-on-big"  >{{ downloadCv }}</button>
       </a>
        <div class="header-container">
            
            <div class="portraite-box">
                
                <div class="portraite">
                </div>
            </div>
            <div class="bio">
                <h3 *ngIf="lang == 'sv'" class="text-secondary h3-heading show-only-on-big">Kort om mig</h3>
                <h3 *ngIf="lang == 'eng'" class="text-secondary h3-heading show-only-on-big">Short about me</h3>
                <h3 *ngIf="lang == 'sv'" class="md-heading show-only-on-small">Kort om <span class="text-secondary">mig</span> </h3>
                <h3 *ngIf="lang == 'eng'" class="md-heading show-only-on-small">Short about <span class="text-secondary">me</span> </h3>
                <p>
                    {{ aboutMeText }}
                </p>
            </div>
        </div>
    </section>
    <section class="merits">
        <div class="programig-skills">
            <h2 *ngIf="lang == 'sv'" class="head-w" >Program<wbr/>merings<wbr/>språk</h2>
            <h2 *ngIf="lang == 'eng'" class="head-w">Programing languages</h2>
            <div 
                *ngFor="let lang of programigSkills"
                class="lang">
                <h3>{{ lang.sprak }}</h3>
                <ul>
                    <li *ngFor="let librarie of lang.ramverk">
                        {{ librarie }}
                    </li>
                </ul>
            </div>       
        
            <div class="spoken">
              <h2 *ngIf="lang == 'sv'" class="head-w andra">Andra kunskaper</h2>
              <h2 *ngIf="lang == 'eng'" class="head-w andra">Other</h2>
                <h3 *ngIf="lang == 'sv'">Språk</h3>
                <h3 *ngIf="lang == 'eng'">Language</h3>
                <ul>
                  <li *ngFor="let lang of spokenLang"> {{ lang.lang }} - {{ lang.level }}</li>
                </ul>
                <h3 *ngIf="lang == 'sv'">Körkort</h3>
                <h3 *ngIf="lang == 'eng'">Driving license</h3>
                <ul>
                  <li>B, D</li>
                </ul>
            </div> 
        </div>
        
        <div class="work-edu">
            <div class="heading-box">
                <h2 *ngIf="lang == 'sv'" class="head-w">Arbetslivs<wbr/>erfarenhet</h2>
                <h2 *ngIf="lang == 'eng'" class="head-w">Experience</h2>
            </div>    
            <div 
                *ngFor="let work of giveWork(); let index = i;"
                class="job">
                <h3 class="text-secondary">{{ work.heading }}</h3>
                <h6 *ngIf="lang == 'sv'" class="time">{{ work.from | date:'yyyy'}} - {{ !work.to? 'nuvarande': work.to | date:'yyyy'  }}</h6>
                <h6 *ngIf="lang == 'eng'" class="time">{{ work.from | date:'yyyy'}} - {{ !work.to? 'present': work.to | date:'yyyy'  }}</h6>
                <p>
                    {{ work.description }}
                </p>
            </div>
            <h2 *ngIf="lang == 'sv'" class="head-w">Utbildning</h2>
            <h2 *ngIf="lang == 'eng'" class="head-w">Education</h2>
            <div 
                *ngFor="let edu of giveEducation(); let index = i;"
                class="edu lastline">
                <h3 class="text-secondary">{{ edu.heading }}</h3>
                <h6 class="time">{{ edu.place }},  {{ edu.from | date:'yyyy'}} - {{ !edu.to? 'nuvarande': edu.to | date:'yyyy'  }}</h6>
                <p>
                    {{ edu.description }}
                </p>
            </div>
 
        </div>


    </section>
</main>
