@import "../../../scss/color";
@import "../../../scss/config";


#about
{
    margin:0.5rem;
    color:#fff;
}

.text-secondary
{
    color: $secondary-color;
}

.load
{
    background: lighten( $primary-color , 5);
    border-radius: 20px;
    color: $secondary-color;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px 0 #000;
    font-weight: bold;
    &.show-only-on-small
    {
        position:absolute;
        top:0.5rem;
        left:0.5rem;
    }
}

.md-heading
{
    font-size:4rem;
      
}

.andra
{
    border-top: solid 2px $secondary-color;
    margin-top: 1rem;
}

.header-container
{

    display: flex;
    align-items: stretch;

    .bio
    {
        flex:3;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .h3-heading
    {
        font-size: 3rem;
    }

    p
    {
        font-size: 1.5rem;
    }

    .portraite-box
    {
        flex:1;
        padding: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .portraite
    {
        height: 15rem;
        width:  15rem;
        border-radius: 50%;
        border:solid $secondary-color 3px;

        background-image: url("../../../assets/img/portrait/portrait2.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;

    }

}

.merits
{

    margin-top: 0.5rem;

    display:flex;
    align-items: stretch;

    h3
    {
        color: $secondary-color;
        font-size: 1.2rem;
    }

    .heading-box
    {
        display:flex;
        justify-content: space-between;
    }

    .head-w
    {
        font-size: 2rem;
        color: $secondary-color;


    }

    .programig-skills
    {
        flex:1;
        border: solid $secondary-color 5px;
        border-radius: 10px;
        padding: 0 1rem 1rem 1rem;
        height: fit-content;

        .lang, .spoken
        {
            h3
            {
                margin-top: 1rem;
            }
            
            ul
            {
                margin-left: 3rem;
            }            
        }

        .head-w:nth-child(n+2)
        {
            border-top: solid 3px $secondary-color;
            margin-top: 1rem; 
        }

    }

    .work-edu
    {
        flex: 3;
        padding: 0 1rem 1rem 1rem;
        
        
    }

    .job, .edu
    {
        background: lighten( $primary-color , 5);
        padding: 0.5rem 0.5rem 1rem 0.5rem;
        margin-bottom: 0.5rem;

        .time
        {
            margin-bottom: 1rem;
        }
       
    }

    .job:nth-child(8), .lastline:last-child
    {
        border-bottom: solid $secondary-color 5px; 
    }
}

@media screen and (max-width: 992px)
{
    .header-container
    {
        flex-direction: column;
    }

    .show-only-on-small
    {
        line-height: 0.8;
        margin-bottom: 1rem;
    }

    .show-only-on-big
    {
        display: none;
    }

    .header 
    {
        text-align: center;

        .portraite-box
        {
            margin-top: 1.5rem;
        }

        .bio
        {
            margin: 0.5rem;
        }
    }

    .merits
    {
        flex-direction: column;
    }

}

@media screen and (min-width: 992px)
{

    .show-only-on-small
    {
        display: none;
    }
}